.shop__input {
  margin-bottom: 16px;
  input {
    box-shadow: 0 0.75rem 2.125rem rgba(0, 0, 0, 0.06),
      0 0.0625rem 0.4375rem rgba(0, 0, 0, 0.05);
    background-color: var(--color-light);
    display: block;
    border: 0.0625rem solid var(--color-border);
    width: 100%;
    height: 2.5rem;
    padding: 0 16px;
    outline-color: var(--color-blue);
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
  }
}
.fanshop-section {
  margin-bottom: 80px;
  button.link {
    width: 100%;
    text-align: center;
    display: inline-block !important;
    text-transform: uppercase;
    padding: 12px 16px;
  }
  .select2-container--default .select2-selection--single {
    width: 100%;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    font-weight: 500;
    padding-left: 0;
  }
}
.shop__form {
  margin-bottom: 32px;
  .shop__input label,
  .shop__textarea label {
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  textarea {
    resize: vertical;
    box-shadow: 0 0.75rem 2.125rem rgba(0, 0, 0, 0.06),
      0 0.0625rem 0.4375rem rgba(0, 0, 0, 0.05);
    background-color: var(--color-light);
    display: block;
    border: 0.0625rem solid var(--color-border);
    width: 100%;
    outline-color: var(--color-blue);
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    padding: 8px 16px;
  }
}
.shop__checkbox {
  margin-bottom: 16px;
  margin-top: 16px;
  label {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
  }
  input {
    margin: 0;
  }
}

.shop__checkbox-label {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shop__checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  box-shadow: 0 0.75rem 2.125rem rgba(0, 0, 0, 0.06),
    0 0.0625rem 0.4375rem rgba(0, 0, 0, 0.05);
  background-color: var(--color-light);
  border: 0.0625rem solid var(--color-border);
}

.shop__checkbox-label:hover input ~ .checkmark {
  background-color: var(--color-blue);
}

.shop__checkbox-label input:checked ~ .checkmark {
  background-color: var(--color-dark-blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.shop__checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.shop__checkbox-label .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cartOrder {
  p {
    text-transform: uppercase;
    font-size: 12px;
    color: #878d96;
    margin-bottom: 3px;
    font-weight: 500;
  }
  div {
    font-size: 18px;
    line-height: 28px;
    color: #121619;
    font-weight: 700;
    font-size: 1.125rem;
  }
  &__row {
    border-bottom: 1px solid #dde1e6;

    padding: 8px 0 8px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 8px;
    }
  }
  .cartOrder__cena {
    font-size: 32px;
    line-height: 40px;
  }
}
.shop__top {
  text-decoration: none;
  margin-bottom: 16px;
  width: 100%;
  &-img {
    width: 100%;
    height: 260px;
    margin-bottom: 8px;
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
    color: var(--color-dark-blue);
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #878d96;
  }
}
.product__input {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  border-top: 1px solid #dde1e6;
  border-bottom: 1px solid #dde1e6;
  .counter__btn {
    width: 0;
    border: none;
    outline: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .counter__value {
    max-width: 60px;
    text-align: center;
    border: none;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
  }
}
.product__form {
  margin-top: 12px;
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    background-image: url("../images/ico/chevron-black.svg");
    height: 10px;
    transform: rotate(90deg);
    width: 10px;
    top: 22px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #121619 !important;
  }
  .select2-container--default .select2-selection--single {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0;
    height: 40px;

    width: 100%;
    border: 1px solid #dde1e6;
    border-radius: 2px;
    background-color: #f2f4f8;
    box-shadow: 0 2px 6px 0 rgba(135, 141, 150, 0.2);
  }
  .velikost {
    .jq-selectbox__select-text {
      &::after {
        content: "";
        width: 1px;
        height: 39px;
        background-color: #dde1e6;
        right: 40px;
        top: 0;
        position: absolute;
      }
    }
  }
}
