<section class="fanshop-section">
  <div class="container">
    <div class="row g-10">
      <div class="col-lg-8">
        <h1 class="h1 mb-6">Fanshop</h1>
        <div class="row g-lg-10 g-6">
          <div class="col-xxl-4 col-sm-6">
            <div class="shop__box">
              <div class="shop__product">
                <a
                  class="shop__top"
                  href="/foto/dablici_placka_cervena.png"
                  data-fslightbox
                >
                  <div class="shop__top-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=300&amp;h=300&amp;compresss=&amp;mtime=1729446396&amp;file=http://hknj.cz/foto/dablici_placka_cervena.png"
                      alt=""
                    />
                  </div>

                  <h2 class="h4">
                    Placka s potiskem červená s logem "Ďáblíci"
                  </h2>
                  <p>Placka s potiskem červená s logem "Ďáblíci"</p>
                  <h3 class="h3 text-accent mt-2">39Kč</h3>
                </a>
                <form class="product__form" method="post">
                  <input type="hidden" name="id_produkt" value="130" />
                  <input
                    type="hidden"
                    name="userID"
                    value='" & Session("userID") & "'
                  />
                  <input type="hidden" name="cena" value="39" />
                  <div class="product__input">
                    <div class="counter__btn" data-direction="minus" disabled>
                      <img src="images/ico/minus-circle.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      name="kusu[130]"
                      type="text"
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus-circle.svg" alt="" />
                    </div>
                  </div>

                  <button
                    class="objednat link link--blue"
                    data-fanshop-product="130"
                  >
                    PŘIDAT DO KOŠÍKU
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-sm-6">
            <div class="shop__box">
              <div class="shop__product">
                <a
                  class="shop__top"
                  href="/foto/dablici_placka_modra.png"
                  data-fslightbox
                >
                  <div class="shop__top-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=300&amp;h=300&amp;compresss=&amp;mtime=1729446408&amp;file=http://hknj.cz/foto/dablici_placka_modra.png"
                      alt=""
                    />
                  </div>

                  <h2 class="h4">Placka s potiskem modrá s logem "Ďáblíci"</h2>
                  <p>Placka s potiskem modrá s logem "Ďáblíci"</p>
                  <h3 class="h3 text-accent mt-2">39Kč</h3>
                </a>
                <form class="product__form" method="post">
                  <input type="hidden" name="id_produkt" value="128" />
                  <input
                    type="hidden"
                    name="userID"
                    value='" & Session("userID") & "'
                  />
                  <input type="hidden" name="cena" value="39" />
                  <div class="product__input">
                    <div class="counter__btn" data-direction="minus" disabled>
                      <img src="images/ico/minus-circle.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      name="kusu[128]"
                      type="text"
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus-circle.svg" alt="" />
                    </div>
                  </div>

                  <button
                    class="objednat link link--blue"
                    data-fanshop-product="128"
                  >
                    PŘIDAT DO KOŠÍKU
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-sm-6">
            <div class="shop__box">
              <div class="shop__product">
                <a
                  class="shop__top"
                  href="/img/default_article.jpeg"
                  data-fslightbox
                >
                  <div class="shop__top-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=300&amp;h=300&amp;compresss=&amp;mtime=1634755708&amp;file=http://hknj.cz/img/default_article.jpeg"
                      alt=""
                    />
                  </div>

                  <h2 class="h4">
                    Zimní bunda modrá s vyšitým logem „Ďáblové”
                  </h2>
                  <p>Zimní bunda modrá s vyšitým logem „Ďáblové”</p>
                  <h3 class="h3 text-accent mt-2">1199Kč</h3>
                </a>
                <form class="product__form" method="post">
                  <input type="hidden" name="id_produkt" value="125" />
                  <input
                    type="hidden"
                    name="userID"
                    value='" & Session("userID") & "'
                  />
                  <input type="hidden" name="cena" value="1199" />
                  <div class="product__input">
                    <div class="counter__btn" data-direction="minus" disabled>
                      <img src="images/ico/minus-circle.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      name="kusu[125]"
                      type="text"
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus-circle.svg" alt="" />
                    </div>
                  </div>

                  <select
                    class="velikost js-select"
                    name="varianta"
                    id="varianta"
                  >
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>

                  <button
                    class="objednat link link--blue"
                    data-fanshop-product="125"
                  >
                    PŘIDAT DO KOŠÍKU
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-sm-6">
            <div class="shop__box">
              <div class="shop__product">
                <a
                  class="shop__top"
                  href="/foto/dablici_bunda_cerna.jpg"
                  data-fslightbox
                >
                  <div class="shop__top-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=300&amp;h=300&amp;compresss=&amp;mtime=1729446175&amp;file=http://hknj.cz/foto/dablici_bunda_cerna.jpg"
                      alt=""
                    />
                  </div>

                  <h2 class="h4">
                    Zimní bunda černá s vyšitým logem „Ďáblíci”
                  </h2>
                  <p>Zimní bunda černá s vyšitým logem „Ďáblíci”</p>
                  <h3 class="h3 text-accent mt-2">1199Kč</h3>
                </a>
                <form class="product__form" method="post">
                  <input type="hidden" name="id_produkt" value="126" />
                  <input
                    type="hidden"
                    name="userID"
                    value='" & Session("userID") & "'
                  />
                  <input type="hidden" name="cena" value="1199" />
                  <div class="product__input">
                    <div class="counter__btn" data-direction="minus" disabled>
                      <img src="images/ico/minus-circle.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      name="kusu[126]"
                      type="text"
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus-circle.svg" alt="" />
                    </div>
                  </div>

                  <select
                    class="velikost js-select"
                    name="varianta"
                    id="varianta1"
                  >
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>

                  <button
                    class="objednat link link--blue"
                    data-fanshop-product="126"
                  >
                    PŘIDAT DO KOŠÍKU
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-sm-6">
            <div class="shop__box">
              <div class="shop__product">
                <a
                  class="shop__top"
                  href="/foto/dablici_bunda_modra.png"
                  data-fslightbox
                >
                  <div class="shop__top-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=300&amp;h=300&amp;compresss=&amp;mtime=1729446206&amp;file=http://hknj.cz/foto/dablici_bunda_modra.png"
                      alt=""
                    />
                  </div>

                  <h2 class="h4">
                    Zimní bunda modrá s vyšitým logem „Ďáblíci”
                  </h2>
                  <p>Zimní bunda modrá s vyšitým logem „Ďáblíci”</p>
                  <h3 class="h3 text-accent mt-2">1199Kč</h3>
                </a>
                <form class="product__form" method="post">
                  <input type="hidden" name="id_produkt" value="127" />
                  <input
                    type="hidden"
                    name="userID"
                    value='" & Session("userID") & "'
                  />
                  <input type="hidden" name="cena" value="1199" />
                  <div class="product__input">
                    <div class="counter__btn" data-direction="minus" disabled>
                      <img src="images/ico/minus-circle.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      name="kusu[127]"
                      type="text"
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus-circle.svg" alt="" />
                    </div>
                  </div>

                  <select
                    class="velikost js-select"
                    name="varianta"
                    id="varianta2"
                  >
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>

                  <button
                    class="objednat link link--blue"
                    data-fanshop-product="127"
                  >
                    PŘIDAT DO KOŠÍKU
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-sm-6">
            <div class="shop__box">
              <div class="shop__product">
                <a
                  class="shop__top"
                  href="/foto/dablici_placka_bila.png"
                  data-fslightbox
                >
                  <div class="shop__top-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=300&amp;h=300&amp;compresss=&amp;mtime=1729446385&amp;file=http://hknj.cz/foto/dablici_placka_bila.png"
                      alt=""
                    />
                  </div>

                  <h2 class="h4">Placka s potiskem bílá s logem "Ďáblíci"</h2>
                  <p>Placka s potiskem bílá s logem "Ďáblíci"</p>
                  <h3 class="h3 text-accent mt-2">39Kč</h3>
                </a>
                <form class="product__form" method="post">
                  <input type="hidden" name="id_produkt" value="129" />
                  <input
                    type="hidden"
                    name="userID"
                    value='" & Session("userID") & "'
                  />
                  <input type="hidden" name="cena" value="39" />
                  <div class="product__input">
                    <div class="counter__btn" data-direction="minus" disabled>
                      <img src="images/ico/minus-circle.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      name="kusu[129]"
                      type="text"
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus-circle.svg" alt="" />
                    </div>
                  </div>

                  <button
                    class="objednat link link--blue"
                    data-fanshop-product="129"
                  >
                    PŘIDAT DO KOŠÍKU
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="asideOrder">
          <h3 class="h2 mb-4">Objednávka</h3>
          <form method="POST" action="" class="shop__form">
            <div class="shop__input">
              <label for="udaje">
                Osobní údaje
                <input
                  required
                  id="udeje"
                  type="text"
                  placeholder="Jméno a příjmení"
                />
              </label>
            </div>
            <div class="shop__input">
              <label for="Email">
                E-mail
                <input
                  required
                  id="Email"
                  type="email"
                  name="Email"
                  placeholder="E-mail"
                />
              </label>
            </div>

            <div class="shop__input">
              <label for="telefon">
                telefonní číslo
                <input
                  required
                  id="telefon"
                  type="tel"
                  name="telefon"
                  placeholder="Telefonní číslo"
                />
              </label>
            </div>

            <div class="shop__input">
              <label for="doruceni"> Doručení </label>
              <select
                required
                class="js-select"
                name="doruceni"
                id="doruceni"
                name="doruceni"
              >
                <option>Osobní převzetí</option>
              </select>
            </div>

            <div class="shop__input">
              <label for="platba"> PLATBA </label>
              <select
                required
                class="js-select"
                name="platba"
                id="platba"
                name="platba"
              >
                <option>Hotově</option>
              </select>
            </div>

            <div class="shop__textarea">
              <label for="poznamka"> Poznámka </label>
              <textarea name="poznamka" id="poznamka"></textarea>
            </div>

            <div class="shop__checkbox">
              <label class="shop__checkbox-label" for="souhlas">
                <input
                  required
                  class="shop__check"
                  id="souhlas"
                  type="checkbox"
                />
                <span class="checkmark"></span>
                Souhlasím s obchodními podmínkami a se zpracováním osobních
                údajů
              </label>
            </div>

            <button class="link link--blue" type="submit">objednat</button>
          </form>
          <div class="cartOrder">
            <h3 class="h2 mb-4">OBSAH KOŠÍKU</h3>
            <div class="cartOrder__item">
              <div class="cartOrder__row">
                <p>Název produktu</p>
                <div>Šála HC Příbram - skladem</div>
              </div>
              <div class="cartOrder__row">
                <p>Počet kusů</p>
                <div>1</div>
              </div>
              <div class="cartOrder__row">
                <p>Počet kusů</p>
                <div>1</div>
              </div>
              <div class="cartOrder__row">
                <p>Varianta</p>
                <div>XL</div>
              </div>
              <div class="cartOrder__row">
                <p>Cena za kus</p>
                <div>299,-</div>
              </div>
              <div class="cartOrder__row">
                <p>Celková cena</p>
                <div class="cartOrder__cena">598,-</div>
              </div>
            </div>

            <button class="link link--red" type="reset">VYMAZAT KOŠÍK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
