.link {
  display: block;
  color: var(--color-light);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  padding: 10px 22px;
  text-decoration: none;
  transition: all 0.3s;
}

.link--blue {
  background: var(--color-blue);
}
a.link--blue:hover {
  background: var(--color-dark-blue);
}
.link--dark {
  background: var(--color-dark);
}
