.link {
  color: var(--color-light);
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 0.3s;
  display: flex !important;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  svg {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
}
button.link {
  border: none;
  cursor: pointer;
}
.link--blue {
  background: var(--color-blue);
}
.link--red {
  background: var(--color-red);
  &:hover {
    background: var(--color-blood);
  }
}
button.link--blue:hover,
a.link--blue:hover {
  background: var(--color-dark-blue);
}
.link--dark {
  background: var(--color-dark);
}
.link--stroke {
  background: var(--color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  &:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
