.departments {
  position: relative;

  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  &__inner {
    box-shadow: 2px 0px 17.6px 0px #0000001a;
    background: var(--color-light);
    padding-top: 26px;
    max-width: 1120px;
    margin: 0 auto;
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
  }
  &-list {
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-down(xl) {
      padding-top: 32px;
    }
    li {
      padding-bottom: 32px;
      padding-top: 32px;
      max-width: 168px;
      width: 100%;
      background-color: var(--color-light);
      &:first-child .departments-list__item::after {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: 100px;
        background-image: url("../images/content/decore-departments.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
      }
      svg g,
      svg path {
        fill: var(--color-blue);
      }
      &:hover {
        background-color: var(--color-blue);
        color: var(--color-light);
        transform: scale(1);
        svg g,
        svg path {
          fill: var(--color-light);
        }
        @include media-breakpoint-down(xl) {
          background-color: transparent;
          transform: scale(1);
        }
      }
      &:last-child {
        border: none;
        @include media-breakpoint-down(xl) {
          margin-bottom: 0;
        }
      }
      @include media-breakpoint-down(xl) {
        padding-left: 8px;
        padding-right: 8px;
        border-right: 0;
        padding-top: 0;
      }
    }
    &__item {
      text-align: center;
      padding: 0 12px;
      display: block;
      text-decoration-color: transparent;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        width: 2px;
        height: 100px;
        background-image: url("../images/content/decore-departments.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
      }

      @include media-breakpoint-down(xl) {
        border: 1px solid rgba(#d70000, 0.1);
        height: 100%;
        padding-top: 20px;
        padding-bottom: 16px;
        min-height: 122px;
      }
      &:hover {
        background-color: var(--color-blue);
      }
    }
    &__icon {
      margin: 0 auto 12px;
      width: 34px;
      height: 34px;
      img {
        width: 34px;
        height: 34px;
        object-fit: contain;
      }
    }
  }
}
.departments-list__icon--karate {
  width: 100%;

  svg {
    width: 100%;
    margin-top: -16px;
  }
}
