<section class="departments">
  <div class="container">
    <h3 class="h1 mb-lg-8 mb-4 text-center">Oddíly</h3>
    <div class="departments__inner">
      <ul class="departments-list">
        <li class=" ">
          <a href="#" class="departments-list__item">
            <div class="departments-list__icon">
              <img src="images/content/fotbal.png" alt="fotbal" />
            </div>
            <div class="p2">Fotbal</div>
          </a>
        </li>
        <li class=" ">
          <a href="#" class="departments-list__item">
            <div class="departments-list__icon">
              {% include "@images/soccer-ball.svg" %}
            </div>
            <div class="p2">Nohejbal</div>
          </a>
        </li>
        <li class=" ">
          <a href="#" class="departments-list__item">
            <div class="departments-list__icon">
              <img src="images/content/tenis.png" alt="tenis" />
            </div>
            <div class="p2">Tenis</div>
          </a>
        </li>

        <li class=" ">
          <a href="#" class="departments-list__item">
            <div class="departments-list__icon">
              <img src="images/content/stolni-tenis.png" alt="tenis" />
            </div>
            <div class="p2">Stolní tenis</div>
          </a>
        </li>
        <li class=" ">
          <a href="#" class="departments-list__item">
            <div class="departments-list__icon">
              <img src="images/content/sipky.png" alt="tenis" />
            </div>
            <div class="p2">Šipky</div>
          </a>
        </li>
        <li class=" ">
          <a href="#" class="departments-list__item">
            <div class="departments-list__icon">
              {% include "@images/volley-ball.svg" %}
            </div>
            <div class="p2">Volejbal</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
