<div class="post">
  <ul class="post__tags">
    <li>Fotbal</li>
    <li>|</li>
    <li>10.7.2025</li>
  </ul>
  <a href="#" class="h3 mb-4">
    Messi znovu zářil! Dvěma góly rozhodl napínavé El Clásico
  </a>
  <p class="p2 mb-8">
    Argentinský mág se v El Clásicu opět stal hlavní postavou. Po první půli,
    která skončila bez branek, přišel Messi se svou klasikou..
  </p>
  <a href="#" class="link link--blue mx-auto">
    <span> Přečíst článek </span>{% include "@images/chevron-right.svg" %}
  </a>
</div>
