<section class="top-section">
  <div class="top-section__inner">
    <div class="top-section__content">
      <h1 class="top-section__title">
        Přijďte si k nám
        <span>zasportovat</span>
      </h1>
      <p>
        <strong>Přidejte se k více než 400 členům našich oddílů</strong> a nebo
        si pronajměte fotbalové hřiště, tenisové / nohejbalové / volejbalový
        kurty, multifunkční hřiště a nebo
        <a
          target="_blank"
          href="https://www.mestostod.cz/sportovni%2Dzarizeni/ds-1354/p1=16130"
          >sportovní haly.</a
        >
      </p>
      <ul class="top-section__links">
        <li>
          <a
            href="https://www.mestostod.cz/mapa%2Dsportovniho%2Darealu/ms-16129/p1=16129"
            target="_blank"
            class="link link--stroke"
            >Přehled sportovišť</a
          >
        </li>
        <li>
          <a
            href="http://slavojstod.cz.esports-12-www4.superhosting.cz/kontakty"
            class="link link--blue"
            >Všechny oddíly</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
