:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-red: #d70000;
  --color-blood: #671219;
  --color-green: #27853c;
  --color-border: #e7e7e7;

  --color-blue: #0098db;
  --color-dark-blue: #145781;
  --color-yellow: #fadf11;
}
