{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}
<div class="main-bg">
  {% include "@components/header/header.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <div class="homeWrapper">
      <div class="container">
        <div class="homeWrapper__inner">
          <div class="top-section__img">
            <img src="images/content/hero.png" loading="lazy" alt="" />
          </div>
          {% include "@components/top-section/top-section.twig" %} {% include
          "@components/departments/departments.twig" %}
        </div>
      </div>
    </div>
    {% include "@components/posts-list/posts-list.twig" %}
  </main>
</div>

<!-- {% include "@components/place-section/place-section.twig" %}   -->
{% endblock %}
